@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-gray {
  background-color: #EBEDF0;
}

.text-custom-black {
  color: #1c1c1c
}

.secondary-gray {
  background-color: #D2D6DA;
}

.custom-red {
  color: #FF4D4D;
}

.custom-blue {
  color: #00C2FF;
}
